# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3

# Django
*.log
*.pot
*.pyc
*.pyo
__pycache__/
db.sqlite3
media

# Tailwind CSS
node_modules/
tailwind.config.js
postcss.config.js

# Environment variables
.env

# Virtual environment
venv/
ENV/
env/

# macOS
.DS_Store

# VS Code
.vscode/


# Static files
staticfiles/

# Tailwind CSS
node_modules/
tailwind.config.js
postcss.config.js
theme/static_src/  # Add this line to ignore the Tailwind theme directory

