<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Language Buddy</title>
    {% load tailwind_tags %}
    {% tailwind_css %}
</head>
<body class="bg-gray-100 min-h-screen">
    <nav class="bg-white shadow-lg">
        <div class="max-w-6xl mx-auto px-4">
            <div class="flex justify-between">
                <div class="flex space-x-7">
                    <div>
                        <a href="{% url 'home' %}" class="flex items-center py-4">
                            <span class="font-semibold text-gray-500 text-lg">Language Buddy</span>
                        </a>
                    </div>
                </div>
                <div class="flex items-center space-x-3">
                    {% if request.session.user_id %}
                        <a href="{% url 'home' %}" class="py-2 px-4 text-gray-500 hover:text-gray-700">Home</a>
                        <a href="{% url 'login' %}" class="py-2 px-4 text-gray-500 hover:text-gray-700">Language Resources</a>
                        <a href="#" class="py-2 px-4 bg-blue-500 text-white rounded hover:bg-blue-600">Start Chat</a>
                        <a href="{% url 'logout' %}" class="py-2 px-4 text-gray-500 hover:text-gray-700">Logout</a>
                    {% else %}
                        <a href="{% url 'login' %}" class="py-2 px-4 text-gray-500 hover:text-gray-700">Login</a>
                        <a href="{% url 'login' %}" class="py-2 px-4 text-gray-500 hover:text-gray-700">Language Resources</a>
                        <a href="{% url 'signup' %}" class="py-2 px-4 bg-blue-500 text-white rounded hover:bg-blue-600">Sign Up</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    <main class="container mx-auto px-4 py-8">
        {% block content %}
        {% endblock %}
    </main>

        <!-- Footer -->
        <footer class="bg-gray-100 py-8 mt-auto">
            <div class="max-w-6xl mx-auto px-4">
                <div class="flex flex-col items-center justify-center text-gray-600 text-sm">
                    <p>© 2025 Language Buddy. All rights reserved.</p>
                    <p class="mt-2">Made with ❤️ by <a href="https://github.com/Sophyia7/language-buddy" class="text-blue-500 hover:text-blue-600">Sophyia</a></p>
                    <div class="mt-4 flex space-x-4">
                        <a href="#" class="hover:text-gray-900">Privacy Policy</a>
                        <a href="#" class="hover:text-gray-900">Terms of Service</a>
                        <a href="https://x.com/sophiairoegbu_" class="hover:text-gray-900">Contact</a>
                    </div>
                </div>
            </div>
        </footer>


</body>
</html>


